<div
    th:object="${account}"
>
    <div>
        <label for="">IP Address : </label>
        <label for=""  th:text="${account.ipAddress}"></label>
    </div>
    <div>
        <label for="">Username : </label>
        <label for=""  th:text="${account.username}"></label>
    </div>
    <div>
        <label for="">Name : </label>
        <label for=""  th:text="${account.name}"></label>
    </div>
    <div>
        <label for="">Email : </label>
        <label for=""  th:text="${account.email}"></label>
    </div>
</div>
<div>
    <button><a href="/">Logout</a></button>
</div>