<div >
    <h1>Login</h1>
    <form 
        th:action="@{/api/v1/client/login}"
        th:object="${loginRequest}" 
        method="POST"
    >
        <div>
            <label for="">username : </label>
            <input type="text" th:field="*{username}" id="username" placeholder="Username">
        </div>
        <div>
            <label for="">password : </label>
            <input type="text" th:field="*{password}" id="password" placeholder="Password">
        </div>
        <input type="submit" value="Login">
    </form>
</div>